---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import TitleVertical from "@/components/TitleVertical.astro";

import type {blogItemBody} from "@/content/schemas";

export async function getStaticPaths() {
  const PRICES = await getCollection("prices");

  return PRICES.map(({ data }) => {
    return {
      params: { slug: data.slug },
      props: data,
    };
  });
}

const { title, slug, price, items, body } = Astro.props;
---

<Layout title={`Project - ${title}`}>
  <main class="w-full mt-40">
    <section class="w-full my-16">
      <div class="w-full max-w-7xl mx-auto overflow-hidden px-10">
        <div
          class="flex flex-col md:flex-row justify-center items-center gap-8"
        >
          <div class="flex flex-col items-center justify-center text-center md:text-left">
            <h2
              transition:name={`prices-title-${slug}`}
              class="font-archivo capitalize text-secondary-950 dark:text-secondary-50 text-5xl md:text-6xl lg:text-7xl font-medium my-0 tracking-tight"
            >
              {title}

              <br />

              <span
                transition:name={`prices-price-${slug}`}
                class="font-archivo text-primary-600 dark:text-primary-300 font-thin italic"
                >{price}</span
              >
            </h2>
          </div>
          <ul transition:name={`prices-list-${slug}`} class="flex flex-col justify-center items-center gap-4 mt-6">
            {items.map((item) => (
              <li class="capitalize text-lg text-secondary-950 dark:text-secondary-50 py-3 border-b border-primary-600 dark:border-primary-300 w-full">
                {item}
              </li>
            ))}
          </ul>
        </div>
        
        <div class="w-full max-w-7xl mx-auto overflow-hidden px-10 lg:px-[10%] flex flex-col justify-start items-center gap-8 mt-20">
          {body.map(({ title, parrafo, border, list }:blogItemBody) => 
              {
                const borderCls = border ? "border-l-4 border-primary-600 dark:border-primary-300 pl-2" : "";
  
                return (
                <div class={`flex flex-col gap-3 ${borderCls}`}>
                  {title && (<h3 class="text-secondary-950 dark:text-secondary-50 capitalize text-5xl font-medium"></h3class>{title}</h3>)}
                  {parrafo.map((txt:string) => <p class="text-secondary-600 dark:text-secondary-100/70 text-base">{txt}</p>)}
                  {list && (
                    <ul class="pl-8 flex flex-col gap-4">
                      {list.map((txt:string) => <li class="text-secondary-600 dark:text-secondary-100/70 text-base">• {txt}</li>)}
                    </ul>
                  )}
                </div>);
              })}
        </div>
      </div>
    </section>
  </main>
</Layout>