---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import TitleVertical from "@/components/TitleVertical.astro";
import { getDateText } from "@/utils/getDates";

export async function getStaticPaths() {
  const BLOG_ITEMS = await getCollection("blog");

  return BLOG_ITEMS.map(({ data }) => {
    return {
      params: { slug: data.slug },
      props: data,
    };
  });
}

const { img, title, desc, tag, pubDate, author, body, conclusion } =
  Astro.props;

const textDate = getDateText(pubDate);
---

<Layout title={`blog - ${title}`}>
  <main class="w-full mt-40">
    <section class="w-full my-16">
      <div class="w-full max-w-7xl mx-auto overflow-hidden px-10">
        <div class="w-full flex flex-col items-center justify-center gap-2">
          <div
            class="w-fit py-2 px-4 bg-secondary-400/50 dark:bg-secondary-900/50 text-center uppercase whitespace-nowrap rounded-3xl flex justify-center items-center text-xs font-normal"
          >
            <h6
              class="text-primary-600 dark:text-primary-300 uppercase tracking-[8px] my-0 text-[10px] font-light"
            >
              {tag}
            </h6>
          </div>

          <TitleVertical
            title=""
            subtitlePrimary={title}
            subtitleSecondary=""
            desc={desc}
          />

          <h6
            class="text-secondary-950 dark:text-secondary-50 tracking-[8px] uppercase my-0 text-xs font-normal dark:font-light mt-4"
          >
            {textDate}
          </h6>

          <img
            src={img.url}
            alt={img.alt}
            class="w-full max-h-[480px] object-cover rounded-3xl mt-20"
          />
        </div>

        <div
          class="w-full flex flex-col lg:flex-row items-center justify-center lg:items-start gap-8 mt-20 relative"
        >
          <div class="w-full lg:max-w-[60%] flex flex-col justify-center items-start gap-4">
            {body.map(({ title, parrafo, border, list }) => 
            {
              const borderCls = border ? "border-l-4 border-primary-600 dark:border-primary-300 pl-2" : "";

              return (
              <div class={`flex flex-col gap-3 ${borderCls}`}>
                {title && (<h3 class="text-secondary-950 dark:text-secondary-50 capitalize text-5xl font-medium"></h3class>{title}</h3>)}
                {parrafo.map((txt) => <p class="text-secondary-600 dark:text-secondary-100/70 text-base">{txt}</p>)}
                {list && (
                  <ul class="pl-8 flex flex-col gap-4">
                    {list.map((txt) => <li class="text-secondary-600 dark:text-secondary-100/70 text-base">• {txt}</li>)}
                  </ul>
                )}
              </div>);
            })}

            <h3 class="text-primary-600 dark:text-primary-300 capitalize text-5xl font-medium mt-8">
              conclusion:
            </h3>
            {conclusion.map((txt) => <p class="text-secondary-600 dark:text-secondary-100/70 text-base">{txt}</p>)}
          </div>

          <div class="sticky -top-7">
            <div
              class="flex flex-col justify-start items-center gap-4 rounded-2xl bg-gradient-to-b from-primary-950 to-primary-700 w-full h-[420px]"
            >
              <img
                src={author.img.url}
                alt={author.img.alt}
                class="w-32 rounded-full object-cover mt-16"
              />
              <div>
                <h4
                  class="capitalize text-3xl text-secondary-50 text-center tracking-tighter"
                >
                  {author.name}
                </h4>
                <h6
                  class="uppercase text-secondary-50 tracking-[6px] text-[0.6rem] text-center mt-4 mb-3"
                >
                  {author.proffesion}
                </h6>
              </div>
              <p class="text-secondary-200 max-w-[70%] text-center">
                {author.bio}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
