---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Body from "@/components/Body.astro";
import Back from "@/components/Back.astro";

export async function getStaticPaths() {
  const SERVICES = await getCollection("services");

  return SERVICES.map(({ data }) => {
    return {
      params: { slug: data.slug },
      props: data,
    };
  });
}

const { title, desc, body, img } = Astro.props;
---

<Layout title={`Service ${title}`}>
  <main class="w-full mt-40">
    <section class="w-full my-16">
      <div class="w-full max-w-7xl mx-auto overflow-hidden px-10">
        <Back href="/services" />

        <div
          class="flex flex-col items-center justify-center text-center md:text-left"
        >
          <img
            src={img}
            class="w-full max-h-[480px] object-cover rounded-3xl mb-10"
          />
          <h4
            class="font-stretchpro uppercase text-4xl text-black dark:text-brand_cyan"
          >
            {title}
          </h4>

          <p class="text-gray-500 dark:text-gray-500 max-w-md text-center">
            {desc}
          </p>
        </div>

        <div
          class="w-full max-w-7xl mx-auto overflow-hidden px-10 lg:px-[10%] mt-20"
        >
          <Body body={body} />
        </div>
      </div>
    </section>
  </main>
</Layout>
