---
import { getDateText } from "@/utils/getDates";
import Button from "@/components/Button.astro";

const { slug, img, title, desc, category, date, align } = Astro.props;

const textDate = getDateText(date);
---

<a href=`/blog/${slug}`>
  <div
    class=`flex flex-col-reverse ${align == 'left' ? 'md:flex-row pl-8' : 'md:flex-row-reverse pr-8'} justify-start items-center gap-8 group/item bg-white dark:bg-brand-800/10 drop-shadow-md rounded-2xl overflow-hidden`
  >
    <div
      class="flex flex-col justify-center items-start gap-4 py-8 w-full md:max-w-[50%]"
    >
      <div
        class="flex flex-row flex-wrap justify-between items-center gap-x-8 gap-y-4 w-full"
      >
        <div
          transition:name={`blogs-category-${slug}`}
          class="bg-white dark:bg-brand-800/10 border-2 border-black dark:border-white p-1 pl-3"
        >
          <h6
            class="uppercase my-0 font-stretchpro font-light text-[9px] leading-4 tracking-[5px] text-black dark:text-white"
          >
            {category}
          </h6>
        </div>
        <div class="flex justify-start items-center gap-2">
          <p
            transition:name={`blogs-date-${slug}`}
            class="text-base text-gray-700 dark:text-gray-300"
          >
            {textDate}
          </p>
        </div>
      </div>
      <h2
        transition:name={`blogs-title-${slug}`}
        class="font-poppins my-0 uppercase font-semibold text-2xl text-black dark:text-white"
      >
        {title}
      </h2>
      <p
        transition:name={`blogs-desc-${slug}`}
        class="text-wrap mb-0 text-sm font-normal text-gray-700 dark:text-gray-300"
        set:html={desc}
      />
      <Button href={`/blog/${slug}`} text="read more" />
    </div>
    <div class="overflow-hidden md:w-[48%] h-[35rem]">
      <img
        transition:name={`blogs-img-${slug}`}
        src={img}
        alt=""
        class="w-full h-full object-cover group-hover/item:scale-105 transition-transform duration-500 ease-linear"
      />
    </div>
  </div>
</a>
