---
import Facebook from "@/components/icons/Facebook.astro";
import Instagram from "@/components/icons/Instagram.astro";
import X from "@/components/icons/X.astro";
import YouTube from "@/components/icons/YouTube.astro";
---

<footer class="m-8 mt-20">
  <div class="w-full max-w-7xl mx-auto px-[10%] lg:px-10">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href={import.meta.env.BASE_URL}
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img
          src=`${import.meta.env.BASE_URL}/image/logo/logo-letras-white.webp`
          class="w-36 hidden dark:block"
          alt="Audienze Labs Logo"
        />
        <img
          src=`${import.meta.env.BASE_URL}/image/logo/logo-letras-gray.webp`
          class="w-36 block dark:hidden"
          alt="Audienze Labs Logo"
        />
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 font-archivo uppercase text-secondary-950 dark:text-secondary-50 pt-4 pb-2 text-sm font-light leading-5 sm:mb-0"
      >
        <li>
          <a
            href={`${import.meta.env.BASE_URL}/about`}
            class="hover:text-primary-300 me-4 md:me-6">About</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-300 me-4 md:me-6"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-300 me-4 md:me-6">Licensing</a>
        </li>
        <li>
          <a
            href={`${import.meta.env.BASE_URL}/contact`}
            class="hover:text-primary-300">Contact</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-secondary-400 sm:text-center"
        >© 2023 <a href={`${import.meta.env.BASE_URL}`} class="hover:underline"
          >Audienze Labs</a
        >. All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a href="#" class="text-gray-500 hover:text-gray-900">
          <Facebook
            className="size-4 fill-secondary-950 dark:fill-secondary-50"
          />
          <span class="sr-only">Facebook</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 ms-5">
          <Instagram
            className="size-4 fill-secondary-950 dark:fill-secondary-50"
          />
          <span class="sr-only">Instagram</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 ms-5">
          <X className="size-4 fill-secondary-950 dark:fill-secondary-50" />
          <span class="sr-only">X</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 ms-5">
          <YouTube
            className="size-4 stroke-secondary-950 dark:stroke-secondary-50"
          />
          <span class="sr-only">YouTube</span>
        </a>
      </div>
    </div>
  </div>
</footer>
