---
import MenuButton from "@/components/icons/Menu.astro";
const menuItems: Array<string> = [
  "home",
  "about",
  "projects",
  "team",
  "blog",
  "contact",
];
---

<section
  class="relative flex justify-between items-center mx-auto py-5 bg-secondary-950"
>
  <div
    class="flex justify-between items-center max-w-screen-xl w-full mx-auto px-[10%] lg:px-10 z-20"
  >
    <a href={import.meta.env.BASE_URL}>
      <img
        src=`${import.meta.env.BASE_URL}/image/logo.svg`
        class="max-w-32"
        alt="logo de la agencia"
      />
    </a>
    <nav class="hidden lg:flex gap-4">
      {
        menuItems.map((item) => (
          <div class="flex flex-col justify-center items-center overflow-hidden group/menu">
            <a
              href=`${import.meta.env.BASE_URL}`
              class="font-archivo uppercase text-secondary-50 group-hover/menu:text-primary-300 pt-4 pb-2 text-sm font-light leading-5"
            >
              {item}
            </a>
            <div class="w-full h-0.5 mx-auto bg-gradient-to-l from-primary-300 from-25% to-secondary-950 -translate-x-[105%] transition-transform group-hover/menu:translate-x-0 duration-300"></div>
        </div>
        ))
      }
    </nav>

    <button id="menuNavMobileBut" class="lg:hidden">
      <MenuButton className="stroke-primary-50 stroke-2" />
    </button>
  </div>
  <nav
    id="menuNavMobile"
    class="lg:hidden flex flex-col justify-start items-center
    h-screen w-full z-10 pt-24
    absolute top-0 left-0
    bg-secondary-950
    -translate-y-[100vh] duration-700"
  >
    {
      menuItems.map((item) => (
        <a
          href=`${import.meta.env.BASE_URL}`
          class="font-archivo uppercase text-secondary-50 hover:text-primary-300 py-4 text-sm font-light leading-5"
        >
          {item}
        </a>
      ))
    }
  </nav>
</section>
<script>
  var isNavOpen = false;
  const but = document.querySelector("#menuNavMobileBut");
  const menu = document.querySelector("#menuNavMobile");

  const menuHideClasses = "-translate-y-[100vh]";

  const handleNav = () => {
    if (isNavOpen) {
      menu?.classList.toggle(menuHideClasses);
      isNavOpen = false;
    } else {
      menu?.classList.toggle(menuHideClasses);
      isNavOpen = true;
    }
  };

  but?.addEventListener("click", handleNav);
</script>
