---
import MenuButton from "@/components/icons/Menu.astro";
import Button from "@/components/Button.astro";

import SwitchMode from "@/components/SwitchMode.astro";
import AudienzeLabs from "@/components/icons/AudienzeLabs.astro";

const menuItems = [
  { text: "home", id: `/` },
  { text: "about", id: `/about` },
  { text: "projects", id: `/projects` },
  //{ text: "team", id: `/team` },
  { text: "blog", id: `/blog` },
  { text: "services", id: `/services` },
  //{ text: "contact", id: `/contact` },
];
---

<section
  id="header-nav"
  class="fixed top-0 left-0 w-full flex justify-between items-center mx-auto py-5 z-50 bg-gray-50 dark:bg-brand-950"
>
  <div
    class="flex justify-between items-center max-w-screen-xl w-full mx-auto px-[10%] lg:px-10 z-20"
  >
    <a
      href={import.meta.env.BASE_URL}
      class="flex justify-center items-center group/logo"
    >
      <AudienzeLabs
        className="w-full h-auto max-w-16 sm:max-w-20 md:max-w-24 fill-brand dark:fill-white group-hover/logo:fill-brand-500 group-hover/logo:dark:fill-brand_cyan-500"
      />
      <h1
        class="font-stretchpro uppercase text-sm sm:text-md xl:text-lg text-brand dark:text-white group-hover/logo:text-brand-500 group-hover/logo:dark:text-brand_cyan-500"
      >
        audienze labs
      </h1>
    </a>

    <div class="flex justify-end items-center">
      <nav class="hidden lg:flex lg:gap-8 xl:gap-14">
        {
          menuItems.map(({ text, id }) => {
            const isActive = Astro.url.pathname == id ? "active-menu" : "";

            return (
              <div
                class={`flex flex-col justify-center items-center overflow-hidden group/menu ${isActive}`}
              >
                <a
                  href={id}
                  class="capitalize text-black dark:text-white group-hover/menu:dark:text-brand_cyan-500 group-[.active-menu]/menu:dark:text-brand_cyan-500 group-hover/menu:text-brand-500 group-[.active-menu]/menu:text-brand-500 pt-4 pb-2 text-sm font-bold dark:font-light leading-5"
                >
                  {text}
                </a>
                <div class="w-full h-0.5 mx-auto bg-gradient-to-l from-primary-600 dark:from-primary-300 from-25% to-transparent -translate-x-[105%] transition-transform group-hover/menu:translate-x-0 group-[.active-menu]/menu:translate-x-0 duration-300" />
              </div>
            );
          })
        }
      </nav>

      <div class="ml-10 mt-1">
        <button id="menuNavMobileBut" class="lg:hidden group/mobile">
          <MenuButton
            className="group-hover/mobile:stroke-primary-600 group-hover/mobile:dark:stroke-primary-300 stroke-secondary-950 dark:stroke-white stroke-2"
          />
        </button>
        <SwitchMode />
      </div>
    </div>

    <div class="hidden lg:block">
      <Button href="/contact" text="Get Started" fill />
    </div>
  </div>
  <nav
    id="menuNavMobile"
    class="lg:hidden flex flex-col justify-start items-center
    h-screen w-full z-10 pt-24
    absolute top-0 left-0
    bg-secondary-100 dark:bg-secondary-950
    -translate-y-[120vh] duration-700"
  >
    {
      menuItems.map(({ text, id }) => (
        <a
          href={id}
          class="font-archivo uppercase text-secondary-950 dark:text-secondary-50 hover:text-primary-600 hover:dark:text-primary-300 py-4 text-sm font-normal dark:font-light leading-5"
        >
          {text}
        </a>
      ))
    }
  </nav>
</section>
