---
import Title from "@/components/Titles.astro";
import Items from "@/components/OurValuesItem.astro";

const VALUES_1 = [
  {
    title: "integrity",
    desc: "We uphold the highest standards of the transparency.",
    img: "hardwork",
  },
  {
    title: "empowerment",
    desc: "We providing the knowledge, tools, and support to achieve success.",
    img: "growth",
  },
];

const VALUES_2 = [
  {
    title: "innovation",
    desc: "We foster a culture of constant innovation, embracing consumer researches.",
    img: "innovation",
  },
  {
    title: "impactful insights",
    desc: "We strive to delivery insights that create signficant impact for out clients.",
    img: "teamwork",
  },
];
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mt-20 mb-36"
>
  <div
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <Title
      title="our most "
      titleBlue="precious values"
      subtitle="what we believe"
      desc="We are passionate about what we do. Our enthusiasm and dedication drive us to push boundaries."
    />
  </div>

  <div
    class="flex flex-col lg:flex-row justify-center items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 gap-8 mt-20"
  >
    <div
      class="flex flex-col sm:flex-row lg:flex-col justify-between items-center h-full gap-8"
    >
      {
        VALUES_1.map(({ title, desc, img }) => (
          <Items title={title} desc={desc} img={img} />
        ))
      }
    </div>
    <div class="w-80 h-[544px]">
      <img
        src={`${import.meta.env.BASE_URL}/image/our-values.webp`}
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="flex flex-col sm:flex-row lg:flex-col justify-between items-center h-full gap-8"
    >
      {
        VALUES_2.map(({ title, desc, img }) => (
          <Items title={title} desc={desc} img={img} />
        ))
      }
    </div>
  </div>
</section>
