---
import Button from "@/components/Button.astro";

const { currentPage, lastPage, url } = Astro.props;
---

<div class="flex justify-center items-center w-full py-6 font-sans">
  {
    lastPage > 1 && (
      <nav class="flex items-center justify-center gap-2">
        {currentPage > 1 && (
          <div class="flex gap-2">
            <Button href={`${url}1/`} text="<--" fill />
            <Button href={`${url}${currentPage - 1}/`} text="<-" fill />
          </div>
        )}

        <p class="text-slate-600 dark:text-slate-400 px-4">
          Page
          <strong class="text-slate-800 dark:text-white">{currentPage}</strong>
          of
          <strong class="text-slate-800 dark:text-white">{lastPage}</strong>
        </p>

        {currentPage < lastPage && (
          <div class="flex gap-2">
            <Button href={`${url}${currentPage + 1}/`} text="-->" fill />
            <Button href={`${url}${lastPage - 1}/`} text="->" fill />
          </div>
        )}
      </nav>
    )
  }
</div>
