---
import Title from "@/components/Titles.astro";

const SKILLS = [
  {
    title: "design",
    percent: 75,
  },
  {
    title: "branding",
    percent: 95,
  },
  {
    title: "prototype",
    percent: 80,
  },
];
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mt-20 mb-36"
>
  <div
    id="skillsTitle"
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <Title
      title="Level up with "
      titleBlue="our expertise"
      subtitle="EXPLORE & DISCOVER"
      desc="Embark on a journey to uncover the secrets of Audienze Labs. Delve into our world of innovation and endless possibilities."
      layout="right"
    />
  </div>

  <div
    class="flex flex-col lg:flex-row justify-center items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 gap-4 mt-20"
  >
    <div
      id="skillsImgs"
      class="flex w-full gap-10 object-cover justify-center items-center relative rotate-[-20deg]"
    >
      <img
        src=`${import.meta.env.BASE_URL}/image/banner-phone.webp`
        class="h-56 md:h-72 lg:h-80 max-w-28 object-cover"
      />
      <img
        src=`${import.meta.env.BASE_URL}/image/projects4.webp`
        class="h-56 md:h-72 lg:h-80 max-w-28 object-cover"
      />
      <img
        src=`${import.meta.env.BASE_URL}/image/projects3.webp`
        class="h-56 md:h-72 lg:h-80 max-w-28 object-cover"
      />
    </div>

    <div
      id="skillsPer"
      class="flex flex-col justify-center items-center w-full gap-16 relative mt-16 lg:mt-0"
    >
      {
        SKILLS.map(({ title, percent }) => {
          const widthPercent = `width: ${percent}%;`;

          return (
            <div class="flex flex-col items-center justify-center w-full gap-4 max-w-md">
              <h4 class="w-full text-right text-3xl font-medium capitalize text-secondary-950 dark:text-secondary-50">
                {percent}%
              </h4>

              <div class="w-full bg-secondary-400 dark:bg-secondary-600">
                <div
                  class="percentgeLine h-0.5 bg-primary-600 dark:bg-primary-300"
                  style={widthPercent}
                />
              </div>
              <h5 class="font-stretchpro w-full text-right font-semibold dark:font-light text-xs leading-5 tracking-[8px] uppercase text-secondary-800 dark:text-secondary-200 my-0">
                {title}
              </h5>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    "#skillsTitle",
    {
      opacity: 0,
      x: 60,
    },
    {
      scrollTrigger: {
        trigger: "#skillsTitle",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },

      x: 10,
      opacity: 100,
      duration: 2,
    }
  );

  gsap.utils
    .toArray<HTMLElement>("#skillsImgs > img")
    .forEach((project, index) => {
      gsap.fromTo(
        project,
        {
          opacity: 0,
          y: -100,
        },
        {
          scrollTrigger: {
            trigger: "#skillsImgs",
            start: "top center",
            end: "bottom center",
            toggleActions: "play none none none",
          },
          y: 0,
          opacity: 100,
          duration: 1.5,
          delay: 0.3 * (index + 1),
        }
      );
    });

  gsap.utils
    .toArray<HTMLElement>("#skillsPer div.percentgeLine")
    .forEach((project, index) => {
      gsap.from(project, {
        scrollTrigger: {
          trigger: "#skillsPer",
          start: "top center",
          end: "bottom center",
          toggleActions: "play none none none",
        },
        duration: 1.5,
        delay: 0.6 * (index + 1),
        width: 0,
      });
    });
</script>
