---
import Title from "@/components/Titles.astro";

const SKILLS = [
  {
    title: "design",
    percent: 75,
  },
  {
    title: "branding",
    percent: 95,
  },
  {
    title: "prototype",
    percent: 80,
  },
];
---

<section
  class="w-full flex flex-col justify-between items-center mx-auto mt-20 mb-36"
>
  <div
    class="flex flex-col justify-around items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 relative"
  >
    <Title
      title="Visualize "
      titleBlue="Our Skills"
      subtitle="get to know"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis."
      layout="right"
    />
  </div>

  <div
    class="flex flex-col lg:flex-row justify-center items-center max-w-7xl w-full mx-auto px-[10%] lg:px-10 gap-4 mt-20"
  >
    <div
      class="flex w-full gap-10 object-cover justify-center items-center relative rotate-[-20deg]"
    >
      <img
        src=`${import.meta.env.BASE_URL}/image/banner-phone.webp`
        class="h-56 md:h-72 lg:h-80 max-w-28 object-cover"
      />
      <img
        src=`${import.meta.env.BASE_URL}/image/projects4.webp`
        class="h-56 md:h-72 lg:h-80 max-w-28 object-cover"
      />
      <img
        src=`${import.meta.env.BASE_URL}/image/projects3.webp`
        class="h-56 md:h-72 lg:h-80 max-w-28 object-cover"
      />
    </div>

    <div
      class="flex flex-col justify-center items-center w-full gap-16 relative mt-16 lg:mt-0"
    >
      {
        SKILLS.map(({ title, percent }) => {
          const widthPercent = `width: ${percent}%;`;

          return (
            <div class="flex flex-col items-center justify-center w-full gap-4 max-w-md">
              <h4 class="font-archivo w-full text-right text-3xl font-medium capitalize text-secondary-950 dark:text-secondary-50">
                {percent}%
              </h4>

              <div class="w-full bg-secondary-400 dark:bg-secondary-600">
                <div
                  class="h-0.5 bg-primary-600 dark:bg-primary-300"
                  style={widthPercent}
                />
              </div>
              <h5 class="font-archivo w-full text-right font-semibold dark:font-light text-xs leading-5 tracking-[8px] uppercase text-secondary-800 dark:text-secondary-200 my-0">
                {title}
              </h5>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
