---
const TEAM = [
  {
    name: "Alex Hidalgo",
    profession: "CEO | CO-FOUNDER",
    img: "/image/team/team1.webp",
    socialMedia: {
      facebook: "",
      instagram: "",
      linkedin: "https://www.linkedin.com/in/alexvhidalgo/",
    },
  },
  {
    name: "Geisson Guadir",
    profession: "CDO | CO-FOUNDER",
    img: "/image/team/team2.webp",
    socialMedia: {
      facebook: "",
      instagram: "",
      linkedin: "https://www.linkedin.com/in/geisson-guadir-pmp/",
    },
  },
  {
    name: "Guillermo Vera",
    profession: "CTO | CO-FOUNDER",
    img: "/image/team/team3.webp",
    socialMedia: {
      instagram: "https://www.instagram.com/guive86/",
      linkedin: "https://www.linkedin.com/in/guillermoverag/",
    },
  },
  {
    name: "Lisette Coiro",
    profession: "CMO",
    img: "/image/team/team4.webp",
    socialMedia: {
      linkedin: "https://www.linkedin.com/in/lisettecoiro/",
    },
  },
  {
    name: "Elizabeth Loaiza",
    profession: "CPO",
    img: "/image/team/team5.webp",
    socialMedia: {
      linkedin:
        "https://www.linkedin.com/in/elizabeth-loaiza-mogollon-70460657/",
    },
  },
  {
    name: "Daniela Ramirez",
    profession: "CIO",
    img: "/image/team/team6.jpg",
    socialMedia: {
      linkedin: "https://www.linkedin.com/in/danielaramirezprisco/",
    },
  },
  /*{
    name: "Marcia",
    profession: "CCO",
    img: "/image/team/team7.webp",
    socialMedia: {
      linkedin: "https://www.linkedin.com/in/lisettecoiro/",
    },
  },*/
];
---

<section
  class="flex flex-col justify-between items-center mx-auto mt-20 md:mb-72 relative bg-gradient-to-t from-brand-950 to-brand_purple-950"
>
  <div
    class="flex flex-col justify-start items-center max-w-7xl w-screen mx-auto px-[10%] lg:px-10 py-10 min-h-[422px]"
  >
    <h2
      class=`font-stretchpro uppercase text-white text-2xl md:text-3xl lg:text-4xl font-medium my-0 tracking-tight text-center`
    >
      meet our team
    </h2>
    <p
      class="font-poppins text-lg text-pretty font-light text-white/80 mt-0 max-w-xl text-center"
    >
      At Audienze Labs, we're the visionaries driving the future of gaming. Our
      team of seasoned experts works together to unlock new dimensions of player
      engagement.
    </p>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center items-center gap-0 md:gap-8 max-w-7xl mx-auto px-[10%] lg:px-10 -mt-40 mb-6"
  >
    {
      TEAM.map(({ name, profession, img, socialMedia }) => (
        <div class="overflow-hidden w-80 md:max-w-80 lg:max-w-60 h-96 flex flex-col justify-center items-center gap-4 relative group/team">
          <img
            src={`${img}`}
            alt="image of team"
            class="h-[320px] object-cover w-full rounded-lg"
          />
          <div class="z-0 absolute h-[340px] top-8 inset-0 group-hover/team:opacity-0 opacity-100 transition-opacity bg-gradient-to-b from-[rgba(22,73,240,0.2)] via-60% via-[rgba(121,26,242,0.2)] to-[rgba(22,73,240,0.9)] rounded-lg" />

          <div class="w-full max-w-56 min-h-20 flex flex-col justify-center items-center gap-1 absolute bottom-0 bg-gray-100 dark:bg-white z-20 rounded">
            <h4 class="uppercase text-black font-medium text-xl">{name}</h4>
            <h5 class="uppercase text-black tracking-[5px] text-center text-xs font-normal dark:font-light">
              {profession}
            </h5>
          </div>

          <div class="w-full max-w-52 py-2 flex justify-center items-center gap-6 absolute top-auto bottom-20 translate-y-40 opacity-0 transition-transform duration-700 group-hover/team:translate-y-0 group-hover/team:opacity-100 z-10">
            {socialMedia.facebook && (
              <a
                href={socialMedia.facebook}
                class="size-10 rounded-full overflow-hidden"
                target="_blank"
              >
                <img src={`/image/logo/facebook.webp`} alt="facebook" />
              </a>
            )}
            {socialMedia.instagram && (
              <a
                href={socialMedia.instagram}
                class="size-10 rounded-full overflow-hidden"
                target="_blank"
              >
                <img src={`/image/logo/instagram.webp`} alt="instagram" />
              </a>
            )}
            {socialMedia.linkedin && (
              <a
                href={socialMedia.linkedin}
                class="size-10 rounded-full overflow-hidden"
                target="_blank"
              >
                <img src={`/image/logo/linkedin.webp`} alt="linkedin" />
              </a>
            )}
          </div>
        </div>
      ))
    }
  </div>
</section>
