---
import TitleV from "@/components/TitleVertical.astro";

import Arrow from "@/components/icons/ArrowRight.astro";

const CLIENTS = [
  {
    name: "Lead Game Developer",
    type: "Indie Studio",
    img: `/image/clients/client1.webp`,
    desc: "Audienze Labs transformed our game. Their insights into player behavior were spot on, helping us refine gameplay and boost engagement beyond our expectations.",
  },
  {
    name: "Marketing Director",
    type: "Major Game Publisher",
    img: `/image/clients/client2.webp`,
    desc: "Thanks to Audienze Labs, we now understand our audience on a whole new level. Their data-driven strategies directly contributed to our most successful launch yet.",
  },
  {
    name: "Creative Director",
    type: "AAA Game Studio",
    img: `/image/clients/client3.webp`,
    desc: "The team at Audienze Labs didn’t just deliver data—they provided actionable insights that reshaped our entire approach to game design. The results were phenomenal.",
  },
  {
    name: "Head of Marketing",
    type: "Global Gaming Company",
    img: `/image/clients/client4.webp`,
    desc: "Audienze Labs is a game-changer. Their expertise in neuromarketing gave us a deep understanding of our players, leading to campaigns that truly connected and converted.",
  },
];
---

<section
  class="flex flex-col justify-between items-center mx-auto mb-4 mt-20 bg-brand-100/60 dark:bg-brand_purple-950 py-10"
>
  <div
    id="testimonialsContainer"
    class="flex flex-col justify-around items-center max-w-7xl w-screen mx-auto px-[10%] lg:px-10 relative"
  >
    <TitleV
      titlePrimary="Why Choose"
      titleSecondary="Audienze Labs?"
      titleAltColor
    />

    <div
      class="flex justify-center items-center gap-0 md:gap-2 mt-8 relative clear-both text-center w-full h-full max-w-5xl overflow-hidden"
    >
      <div
        id="slideContainer"
        class="h-full whitespace-nowrap block relative mr-auto z-10 left-0 right-0 overflow-hidden"
        data-slider="0"
      >
        {
          CLIENTS.map(({ name, type, img, desc }) => (
            <div class="inline-block opacity-1 translate-x-0 transition-transform duration-500 ease-in-out">
              <div class="h-full relative flex flex-col lg:flex-row whitespace-normal justify-center items-start">
                <div class="flex flex-col sm:flex-row justify-around items-center gap-4 lg:gap-8  w-full h-72 md:pt-16 pb-11 px-7 lg:pl-10">
                  <img
                    src={img}
                    alt={name}
                    class="size-24 lg:size-36 rounded-full shadow-xl object-cover"
                  />
                  <p class="text-sm sm:text-lg text-left text-pretty dark:text-white/70">
                    " {desc} "
                  </p>
                </div>
                <div class="w-full lg:max-w-[15%] min-h-20 lg:h-[288px] bg-transparent flex flex-col justify-center items-center gap-1 lg:gap-4">
                  <h5 class="font-bold dark:font-semibold text-xs md:text-sm leading-5 tracking-[8px] uppercase text-brand dark:text-white my-0">
                    {name}
                  </h5>
                  <h6 class="font-semibold dark:font-light text-[0.6rem] md:text-xs leading-5 tracking-[8px] uppercase dark:text-white/70 my-0">
                    {type}
                  </h6>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <button
        id="butLeftSlide"
        class="w-fit h-[368px] lg:h-[288px] max-w-12 bg-brand-100/30 hover:bg-brand dark:bg-brand_purple-950 hover:dark:bg-brand-100/30 text-center block top-auto left-auto right-[10%] cursor-pointer group/left"
      >
        <div class="flex justify-center items-center h-full">
          <Arrow
            className="size-8 stroke-brand group-hover/left:stroke-white dark:stroke-white rotate-180"
          />
        </div>
      </button>
      <button
        id="butRightSlide"
        class="w-fit h-[368px] lg:h-[288px] max-w-12 bg-brand-100/30 hover:bg-brand dark:bg-brand_purple-950 hover:dark:bg-brand-100/30 text-center block top-auto left-auto right-0 cursor-pointer group/right"
      >
        <div class="flex justify-center items-center h-full">
          <Arrow
            className="size-8 stroke-brand group-hover/right:stroke-white dark:stroke-white"
          />
        </div>
      </button>
    </div>
  </div>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const butLeftSlide = document.getElementById("butLeftSlide");
    const butRightSlide = document.getElementById("butRightSlide");

    const slideContainer = document.getElementById("slideContainer");
    const slideContainerChilds = slideContainer?.children || [];

    butLeftSlide?.addEventListener("click", () => {
      let actualSlider = parseInt(slideContainer?.dataset.slider || "0");
      actualSlider--;

      if (actualSlider < 0) {
        actualSlider = slideContainerChilds.length - 1;
      }

      setSliderActual(actualSlider);
    });

    butRightSlide?.addEventListener("click", () => {
      let actualSlider = parseInt(slideContainer?.dataset.slider || "0");
      actualSlider++;

      if (actualSlider >= slideContainerChilds.length) {
        actualSlider = 0;
      }

      setSliderActual(actualSlider);
    });

    function setSliderActual(actualSlider: number) {
      const widthSlider = slideContainer?.clientWidth || 1;

      if (slideContainer != null) {
        slideContainer.dataset.slider = actualSlider.toString();
      }

      const offset = actualSlider * widthSlider * -1;

      for (const slideItem of slideContainerChilds) {
        const item = slideItem as HTMLElement;
        item.style.transform = `translateX(${offset}px)`;
      }
    }

    window.addEventListener("resize", function () {
      let actualSlider = parseInt(slideContainer?.dataset.slider || "0");
      setSliderActual(actualSlider);
    });
  });
</script>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    "#testimonialsContainer",
    {
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: "#testimonialsContainer",
        start: "top center",
        end: "bottom center",
        toggleActions: "play none none none",
      },
      opacity: 100,
      duration: 3,
      ease: "power1.in",
    }
  );
</script>
