---
const {
  titlePrimary,
  titleSecondary,
  titleBreak,
  titleColor,
  titleAltColor,
  textAlign,
  desc,
} = Astro.props;

let color =
  titleColor == true
    ? "text-brand-500 dark:text-brand_cyan"
    : "text-black dark:text-white";

color =
  titleAltColor == true ? "text-brand-400 dark:text-brand_purple-500" : color;

const textAlignClass = textAlign == "left" ? "text-left" : "text-center";
---

<h2
  class=`font-stretchpro uppercase text-black dark:text-white text-2xl md:text-3xl lg:text-4xl font-medium my-0 tracking-tight ${textAlignClass}`
>
  {titlePrimary}

  {titleBreak && <br />}

  <span class=`font-stretchpro font-thin ${color}`>{titleSecondary}</span>
</h2>
{
  desc && (
    <p class="font-poppins text-lg text-pretty font-light text-black/60 dark:text-white/60 mt-4 max-w-xl text-center">
      {desc}
    </p>
  )
}
