---
const { title, titleBlue, subtitle, desc, layout } = Astro.props;

const flexLayout = layout == "right" ? "flex-row" : "flex-row-reverse";
---

<div
  class=`w-full flex flex-col-reverse text-center items-center md:items-start lg:${flexLayout} justify-between gap-4 px-10 xl:px-0`
>
  <div
    class="flex flex-col justify-start items-center md:items-start gap-4 text-center"
  >
    <h5
      class="font-archivo font-light text-xs text-left leading-5 tracking-[8px] uppercase text-secondary-200 my-0"
    >
      {subtitle}
    </h5>
    <p
      class="max-w-md font-archivo text-secondary-300 text-base lg:text-lg text-pretty my-0 mx-4 md:mx-0 md:text-left"
    >
      {desc}
    </p>
  </div>

  <div class="flex flex-col items-center lg:items-start gap-2">
    <h2
      class="font-archivo capitalize text-secondary-50 text-5xl md:text-6xl lg:text-7xl font-medium my-0 tracking-tight lg:text-left"
    >
      {title}
      <span class="font-archivo text-primary-300 font-thin italic"
        >{titleBlue}</span
      >
    </h2>
  </div>
</div>
