---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Body from "@/components/Body.astro";
import Back from "@/components/Back.astro";

export async function getStaticPaths() {
  const PROJECTS = await getCollection("projects");

  return PROJECTS.map(({ data }) => {
    return {
      params: { slug: data.slug },
      props: data,
    };
  });
}

const { img, slug, title, desc, tags, gallery, body } = Astro.props;
---

<Layout title={title} description={desc} image={img}>
  <main class="mt-28 md:mt-40">
    <section>
      <div class="w-screen max-w-7xl mx-auto overflow-hidden px-10 pt-12 lg:px-[10%] relative">
        <Back href="/projects/" />

        <div
          class="flex flex-col justify-center items-center gap-8"
        >
          <div
            class="flex flex-col justify-center items-center"
          >
            <h1
              transition:name={`projects-title-${slug}`}
              class="font-poppins font-extrabold uppercase text-center text-xl md:text-3xl lg:text-5xl text-brand-500 dark:text-brand_cyan md:text-left"
            >
              {title}
            </h1>
            <p
            transition:name={`blogs-desc-${slug}`}
            class="text-wrap mb-0 text-base font-normal text-black dark:text-white max-w-5xl"
            set:html={desc}
          />
          </div>
          <div
            class="flex flex-col justify-center items-center gap-4"
          >
            <div
              class="max-w-60 flex justify-start items-center gap-4 border-b border-brand-500 dark:border-brand_cyan pb-2"
            >
              <h5
                class="font-stretchpro uppercase text-[0.6em] font-medium dark:font-light tracking-[6px] text-black dark:text-white"
              >
                category
              </h5>
              <h5
                class="uppercase text-xs font-light tracking-[6px] text-black dark:text-white"
              >
                •
              </h5>
              <p
                class="text-base font-sm text-gray-700 dark:text-gray-300 capitalize"
              >
                {tags[0]}
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <img
        transition:name={`projects-img-${slug}`}
        src={img}
        alt={title}
        class="w-full object-cover max-h-[540px] max-w-7xl mx-auto my-20 md:rounded-lg"
      />

      <div class="w-screen max-w-7xl mx-auto overflow-hidden px-10 lg:px-[10%] flex flex-col justify-start items-center gap-8">
        <Body body={body} />
      </div>

      <div class="max-w-7xl mx-auto px-10 lg:px-[10%] flex flex-col md:flex-row justify-center items-center gap-4 mt-20">
        {gallery.length > 0 && (<img src={`${gallery[0]}`} alt="gallery images" class="w-full md:w-3/4 h-full object-cover">
        <div class="flex flex-col gap-4 md:w-1/4">
          {gallery.map((img:string, index) => {
            if(index > 0)
              return (<img src={`${img}`} alt="gallery images" class="object-cover">)
          })}
        </div>)} 
      </div>
    </section>
  </main>
</Layout>