---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Title from "@/components/TitleVertical.astro";
import Item from "@/components/BlogItem.astro";

import Pagination from "@/components/Pagination.astro";

export const prerender = false;
const today = new Date();
const BLOG_ITEMS: CollectionEntry<"blogs">[] = (await getCollection("blogs"))
  .sort(
    (a: CollectionEntry<"blogs">, b: CollectionEntry<"blogs">) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
  .filter((value: CollectionEntry<"blogs">) => value.data.pubDate <= today);

const url = new URL(Astro.url);
const { page } = Astro.params;

const paths = url.pathname.split("/");
const baseUrl = paths.slice(0, -2).join("/") + "/";

const currentPage = parseInt(page ?? "1");
const ITEMS_PER_PAGE = 5;
const total = BLOG_ITEMS.length;

const lastPage = Math.ceil(total / ITEMS_PER_PAGE);

const blogData = BLOG_ITEMS.slice(
  (currentPage - 1) * ITEMS_PER_PAGE,
  currentPage * ITEMS_PER_PAGE
);
---

<Layout
  title={`Blogs page ${currentPage} - Audienze Labs LLC`}
  description={`Welcome to the Audienze Labs blog page ${currentPage}, where we explore how data and strategy are transforming the video game industry. Dive into articles on the latest gaming trends and uncover how data analytics, marketing, branding, and web development drive success. Stay informed and learn how to take your game to the next level while keeping your audience engaged.`}
>
  <main>
    <div class="block h-14"></div>
    <h1 class="hidden">Blogs page {currentPage} - Audienze Labs LLC</h1>
    <section class="my-16">
      <div class="w-screen max-w-7xl mx-auto overflow-hidden px-10">
        <div
          id="blogsTitle"
          class="flex flex-col justify-center items-center gap-4 mt-10"
        >
          <Title
            titlePrimary="our blog "
            titleSecondary="posts & articles"
            titleBreak
            titleColor
            desc="Stay informed and learn how to take your game to the next level while keeping your audience engaged."
            layout="right"
          />
        </div>

        <div
          id="blogsContainer"
          class="flex flex-col justify-center items-center gap-4 my-10"
        >
          {
            blogData.map(({ id, data }, index) => {
              return (
                <Item
                  id={id}
                  slug={data.slug}
                  img={data.img.url}
                  title={data.title}
                  desc={data.desc}
                  category={data.tag}
                  date={data.pubDate}
                  imgperson={data.author.img.url}
                  nameperson={data.author.name}
                  align={index % 2 == 0 ? "left" : "right"}
                />
              );
            })
          }
        </div>

        <Pagination
          currentPage={currentPage}
          lastPage={lastPage}
          url={baseUrl}
        />
      </div>
    </section>
  </main>
</Layout>
