---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { getDateText } from "@/utils/getDates";
import Body from "@/components/Body.astro";
import Back from "@/components/Back.astro";

export async function getStaticPaths() {
  const BLOG_ITEMS = await getCollection("blogs");

  return BLOG_ITEMS.map((blog: CollectionEntry<"blogs">) => {
    return {
      params: { slug: blog.data.slug },
      props: blog,
    };
  });
}

type Props = CollectionEntry<"blogs">;

const blog = Astro.props;

const { img, slug, title, desc, tag, pubDate, body, conclusion } = blog.data;
const textDate = getDateText(pubDate);
---

<Layout title={title} description={desc} image={img.url}>
  <main class="mt-28 md:mt-40">
    <section>
      <div
        class="w-screen max-w-7xl mx-auto overflow-hidden px-10 pt-12 relative"
      >
        <Back href="/blogs/1" />

        <div class="flex flex-col items-center justify-center gap-2">
          <div
            transition:name={`blogs-category-${slug}`}
            class="w-fit py-2 px-4 bg-secondary-400/50 dark:bg-secondary-900/50 text-center uppercase whitespace-nowrap rounded-3xl flex justify-center items-center text-xs font-normal"
          >
            <h6
              class="text-gray-700 dark:text-gray-300 uppercase tracking-[8px] my-0 text-[10px] font-light"
            >
              {tag}
            </h6>
          </div>

          <h1
            transition:name={`blogs-title-${slug}`}
            class="font-stretchpro my-0 uppercase max-w-5xl font-medium text-center text-xl md:text-3xl lg:text-4xl leading-[30px] md:leading-[58px] tracking-tighter text-brand-500 dark:text-brand_cyan"
          >
            {title}
          </h1>
          <p
            transition:name={`blogs-desc-${slug}`}
            class="text-wrap mb-0 text-base font-normal text-black dark:text-white max-w-4xl"
            set:html={desc}
          />

          <h6
            transition:name={`blogs-date-${slug}`}
            class="text-gray-900 dark:text-gray-50 tracking-[8px] uppercase my-0 text-xs font-normal dark:font-light mt-4"
          >
            {textDate}
          </h6>

          <img
            transition:name={`blogs-img-${slug}`}
            src={img.url}
            alt={img.alt}
            class={`w-screen max-h-[480px] object-cover rounded-3xl mt-20 ${img.pos ? img.pos : ""}`}
          />
        </div>

        <div
          class="flex flex-col lg:flex-row items-center justify-center lg:items-start gap-8 mt-20 relative"
        >
          <div class="max-w-4xl flex flex-col justify-center items-start gap-4">
            <Body body={body} />

            {
              conclusion && (
                <div class="mt-8 border-t-2 pt-1 pl-3 border-brand dark:border-brand_cyan">
                  {conclusion.map((txt: string) => (
                    <p class="text-gray-700 dark:text-gray-300 text-sm">
                      {txt}
                    </p>
                  ))}
                </div>
              )
            }
          </div>

          {
            /* <div class="sticky -top-7 hidden lg:block">
            <div
              class="flex flex-col justify-start items-center gap-4 rounded-2xl bg-gradient-to-t from-brand-950 to-brand_purple-950 w-64 h-[420px]"
            >
              <img
                src={author.img.url}
                alt={author.img.alt}
                class="w-32 rounded-full object-cover mt-16 border-white/40 dark:border-white/40 border-4"
              />
              <div>
                <h4
                  class="capitalize text-4xl text-white/70 dark:text-white/70 text-center tracking-tighter"
                >
                  {author.name}
                </h4>
                <h6
                  class="font-stretchpro uppercase text-white/60 dark:text-white/60 tracking-[5px] text-[0.6em] text-center mt-4 mb-3"
                >
                  {author.proffesion}
                </h6>
              </div>
              <p
                class="text-white/60 dark:white-black/60 max-w-[70%] text-center"
              >
                {author.bio}
              </p>
            </div>
          </div>*/
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
